extends layout

block content
  body
    header.header
      i.fab.fa-phoenix-framework.icono
      h1 Administrador de tareas
    div.dv1
      form(name="formC", action="/api/colegios", method="post")
        table(class="table table-striped")
          thead
            tr
              th(scope="col")
                label(for="nombre") Nombre del colegio:
              th(scope="col")
                label(for="linea") Linea o compañia:
              th(scope="col")
                label(for="mensua") Mensualidad:
          tbody
            tr
              td
                input#nombre(type="text", name="nombre", placeholder="Nombre del colegio", required)
              td
                input#linea(type="text", name="linea", placeholder="Linea o compañia", required)
              td
                input#mensua(type="number", name="mensua", required)
              td
                input.btn(type="submit" value="Ingresar datos")
    div.dv2
      table(class="table table-striped")
        thead.thead
          tr.tr
            th(scope="col") #
            th(scope="col") Nombre
            th(scope="col") Linea o compañia
            th(scope="col") Mensualidad
            th(scope="col") Opciones
        tbody#cosas
  
  script(src="javascripts/acciones.js")
